### Intellij+all ###
.idea/
out/
*.iml
*.ipr

### Linux ###
*~

# Linux trash folder which might appear on any partition or disk
.Trash-*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Gradle ###
build/
.gradle/**

# Folder config file
[Dd]esktop.ini
